.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: beige;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: darkorange;
}

input {
  margin: 1em;
}

button {
  margin: 0.25em;
  padding: 0.5em;
  background-color: white;
  border-radius: 10%;
}

h5 {
  margin: 0em;
  color: red;
  font-size: 20px;
}
